* {
	box-sizing: border-box;
}

html,
body {
	height: 100%;
}

body {
	margin: 0;
	background-color: #0b0b0b;
	font-family: Helvetica, Arial, Sans-Serif;
}

video {
	object-fit: cover;
	width: 100vw;
	height: 100vh;
	position: fixed;
	top: 0;
	left: 0;
}

.viewport-header {
	position: relative;
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background: rgba(0, 0, 0, 0.54);
}

.title {
	text-align: center;
	font-size: 3em;
	margin: 0;
}

.content-wrapper {
	max-width: 640px;
	color: white;
	text-align: justify;
	line-height: 1.5;
}

.buttons-wrapper {
	padding-top: 20px;
	display: flex;
	justify-content: space-between;
}

.btn {
	width: 140px;
	height: 90px;
	border: none;
	font-family: inherit;
	font-size: inherit;
	color: inherit;
	background: none;
	cursor: pointer;
	display: inline-block;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-weight: 700;
	outline: none;
	position: relative;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
	text-decoration: none;
	display: inline-flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	border-radius: 8px;
	margin-right: 10px;
}

.btn:last-child {
	margin: 0;
}

.btn:after {
	content: '';
	position: absolute;
	z-index: -1;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}

.btn-primary {
	background: hsl(300, 50%, 38%);
	color: #fff;
	box-shadow: 0 6px hsl(300, 50%, 24%);
	-webkit-transition: none;
	-moz-transition: none;
	transition: none;
}

.btn-secondary {
	background: hsl(319, 19%, 48%);
	color: #fff;
	box-shadow: 0 6px hsl(319, 19%, 34%);
	-webkit-transition: none;
	-moz-transition: none;
	transition: none;
}

.btn .icon {
	width: 40px;
	height: 40px;
	padding-bottom: 5px;
}

.btn:hover {
	color: rgba(255, 255, 255, 0.8);
}
